<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./../public/test.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
    <testsuite name="Feedme Test Suite">
        <directory sufix="Test.php">./Tests/Models/Dal/</directory>
    </testsuite>
    <logging>
        <log type="coverage-php" target="build/cov/coverage.cov"/>
    </logging>
</phpunit>
