.img-profile {
    width: 48px;
    height: 48px;
}

.img-contact {
    width: 100px;
    height: 100px;
}

.nav-header {
    padding: 33px 25px 0 25px;
    background: url("../img/header-profile.png") no-repeat;
}

h2 small {
    margin-left: 7px;
}

.logo-header {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-left: 20px;
    line-height: 57px;
}

.logo-header span {
    color: #999c9e;
}

.dropdown-messages-box .media-body strong {
    margin-left: 25px;
    padding: 10px 0;
}

.fancybox img {
    width: 9%;
}

.picturebox {
    padding: 20px;
}

.picturebox .thumbnail {
    opacity: 0.3;
}

.picturebox .thumbnail.active {
    opacity: 1;
    border: 1px solid #e5e6e7;
}

.feed-element img {
    width: 50px;
}

.feed-element .answer {
    font-size: 0.8em;
}

.feed-element .answer img {
    width: 35px;
}

.divider {
    margin: 16px 0;
    border-bottom: 1px solid #E7EAEC;
}

.media-body .pull-right .delete {
    text-align: right;
}

.file-box {
    width: 100%;
}

.file-box .file,
.ibox-content.wallfile {
    text-align: center;
    width: 100%;
}

.file-box .file img.wallpicture,
.ibox-content.wallfile img.wallpicture {
    padding: 0;
}

.file-box .file-name {
    text-align: left;
}

.file .icon {
    height: 200px;
    padding: 65px 10px;
}

.feed-list {
    list-style: none outside none;
    padding: 0;
    font-size: 14px;
}

.feed-list > li {
    background: #f3f3f4;
    border-left: 6px solid #E7EAEC;
    border-right: 6px solid #E7EAEC;
    color: inherit;
    margin-bottom: 2px;
    padding: 10px;
    border-radius: 1px;
}

.feed-list > li .label {
    margin-right: 10px;
    font-size: 14px;
}

.feed-list > li a.action.inactive {
    opacity: 0.3;
}

.feed-list > li a.action.active {
    opacity: 1;
}

.checkspan {
    padding: 10px 16px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    margin-right: 5px;
    border-radius: 1px;
}

.checkspan.enabled {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.checkspan.enabled:hover {
    opacity: 0.9;
}

#pictures {
    height:600px;
}

#pictures .galleria-image {
    text-align: center;
    padding-top: 10px;
}

.m-t-md-m {
    margin-top: 25px;
}

.beta {
    font-size: 0.55em;
    color: #a80100;
    margin-left: -2px;
}

