.img-profile {
    width: 48px;
    height: 48px;
}

.img-contact {
    width: 127px;
    height: 127px;
}

.nav-header {
    padding: 33px 25px 0 25px;
    background: url("../img/header-profile.png") no-repeat;
}

h2 small {
    margin-left: 7px;
}

.logo-header {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-left: 20px;
    line-height: 57px;
}

.logo-header span {
    color: #999c9e;
}

.dropdown-messages-box .media-body strong {
    margin-left: 25px;
    padding: 10px 0;
}

.fancybox img {
    width: 9%;
}

.picturebox {
    padding: 20px;
}

.picturebox .thumbnail {
    opacity: 0.3;
}

.picturebox .thumbnail.active {
    opacity: 1;
    border: 1px solid #e5e6e7;
}


.feed-element img {
    width: 50px;
}

.feed-element .answer {
    font-size: 0.8em;
}

.feed-element .answer img {
    width: 35px;
}

.divider {
    margin: 16px 0;
    border-bottom: 1px solid #E7EAEC;
}

.media-body .pull-right .delete {
    text-align: right;
}
