.notifyjs-bootstrap-base {
    font-weight: bold;
    padding: 8px 15px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 1px;
    white-space: nowrap;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 3px 7px;
}

.notifyjs-bootstrap-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    background-image: none;
}

.notifyjs-bootstrap-success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    background-image: none;
}

.notifyjs-bootstrap-info {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    background-image: none;
}

.notifyjs-bootstrap-warn {
    color: #C09853;
    background-color: #FCF8E3;
    border-color: #FBEED5;
    background-image: none;
}