@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
}

.middle-box {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    z-index: 100;
}

footer {
    margin-top: 25px;
}